@font-face {
  font-family: 'Assistant';
  src: url('woff2/Assistant-ExtraLight.woff2') format('woff2'),
    url("woff/Assistant-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Assistant';
  src: url('woff2/Assistant-Light.woff2') format('woff2'),
    url("woff/Assistant-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Assistant';
  src: url('woff2/Assistant-Regular.woff2') format('woff2'),
    url("woff/Assistant-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Assistant';
  src: url('woff2/Assistant-Medium.woff2') format('woff2'),
    url("woff/Assistant-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Assistant';
  src: url('woff2/Assistant-SemiBold.woff2') format('woff2'),
    url("woff/Assistant-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Assistant';
  src: url('woff2/Assistant-Bold.woff2') format('woff2'),
    url("woff/Assistant-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Assistant';
  src: url('woff2/Assistant-Heavy.woff2') format('woff2'),
    url("woff/Assistant-Heavy.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}