html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

body {
  font-family: 'Assistant', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 768px) {
  body {
    font-family: 'Assistant', sans-serif;
    font-size: 17px;
  }
}

@media screen and (min-width: 1024px) {
  body {
    font-family: 'Assistant', sans-serif;
    font-size: 20px;
  }
}

* {
  box-sizing: border-box;
}

header, main, footer {
  margin: 0 auto;
  padding: 0 1.5rem;
  max-width: 1400px;
}

@media screen and (min-width: 768px) {
  header, main, footer {
    padding: 0 2.5rem;
  }
}

@media screen and (min-width: 1024px) {
  header, main, footer {
    padding: 0 3.5rem;
  }
}

h1, h2, h3, h4 {
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
}

em {
  font-style: normal;
  font-weight: 600;
}

a {
  text-decoration: none;
  display: inline-flex;
}


header {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (min-width: 480px) {
  header {
    align-items: flex-end;
  }
}

@media screen and (min-width: 768px) {
  header {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 1400px) {
  header {
    margin-top: 3rem;
  }
}

.drosse {
  display: flex;
  align-items: flex-start;
}

.logo {
  margin-right: .5rem;
  width: 5rem;
  height: 5rem;
}

h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: 500;
  color: rgb(52,246,107);
}

h2 {
  margin: 0 -1rem 0 0;
  font-size: 1rem;
  font-weight: 100;
}

h2 em {
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: .75rem;
    width: 6rem;
    height: 6rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    margin-right: 0;
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1700px) {
  .logo {
    margin-right: 1rem;
    width: 8rem;
    height: 8rem;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}

.headings {
  padding-top: 1rem;
}

.help {
  margin: .5rem -1rem -.25rem 0;
  padding: 0;
  width: 2.75rem;
  height: 2.75rem;
  fill: rgb(128,128,128);
  border: none;
  background: none;
  cursor: pointer;
  will-change: fill;
  transition: fill .2s ease-in;
}

.help-icon {
  width: 100%;
  height: 100%;
}

.help:hover,
.helped .help {
  fill: rgb(111,186,255);
}

@media screen and (min-width: 480px) {
  .help {
    margin: 0 -1rem -.25rem 0;
    width: 3em;
    height: 3rem;
  }
}

@media screen and (min-width: 768px) {
  .help {
    margin: 0 -1rem -.25rem 0;
    width: 3.5rem;
    height: 3.5rem;
  }
}

.app {
  position: relative;
  margin: 0 -1.5rem 1rem -1rem;
  overflow: auto;
  max-width: calc(100% + 3.5rem);
}

@media screen and (min-width: 768px) {
  .app {
    margin-top: 1rem;
    margin-right: -2.5rem;
    max-width: calc(100% + 4rem);
  }
}

@media screen and (min-width: 768px) {
  .app {
    margin-right: -3.5rem;
    max-width: calc(100% + 4.5rem);
  }
}

.help-layer {
  position: absolute;
  top: 1.75rem;
  left: 2rem;
  opacity: 0;
  will-change: opacity;
  transition: opacity .2s ease-in;
}

.helped .help-layer {
  opacity: 1;
}

section {
  text-align: center;
}

p {
  margin-top: 1rem;
}

@media screen and (min-width: 1700px) {
  p {
    margin-top: 2rem;
  }
}

.providers {
  margin-top: 1rem;
}

.github,
.npm {
  margin: 0 .25rem;
}

.github-icon,
.npm-icon {
  fill: rgb(52,246,107);
}

footer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: flex-end;
}

.by {
  display: flex;
  align-items: center;
  font-size: .8rem;
  color: rgb(92,92,92);
}

.jota {
  margin: .25rem 0 0 .25rem;
}

.jota-icon {
  width: 2rem;
  height: 2rem;
  fill: rgb(92,92,92);
  will-change: fill;
  transition: fill .2s ease-in;
}

.jota:hover .jota-icon {
  fill: rgb(52,246,107);
}

@media screen and (min-width: 768px) {
  .by {
    font-size: 1rem;
  }

  .jota {
    margin: .5rem 0 0 .25rem;
    width: 3rem;
    height: 3rem;
  }
}

@media screen and (min-width: 1400px) {

}