/* :root {
  --md-primary-fg-color:        #00154F;
  --md-primary-fg-color--light: #139EFD;
  --md-primary-fg-color--dark:  #333333;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color:        #00154F;
  --md-primary-fg-color--light: #139EFD;
  --md-primary-fg-color--dark:  #333333;
} */

.md-header__button.md-logo img {
  width: 1.5rem;
  height: 1.5rem;
}

#drosse-hero {
  text-align: center;
  padding: 3rem 2rem 2rem;
  border-bottom: 1px solid rgba(128,128,128, 0.2);
  margin-bottom: 40px;
  background: hsla(var(--md-hue),15%,14%,1);
}

#drosse-hero h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

#drosse-hero p {
  font-size: 20px;
  font-weight: 900;
  color: #0098ff;
  line-height: 1.2;
}