/* :root {
  --md-primary-fg-color:        #00154F;
  --md-primary-fg-color--light: #139EFD;
  --md-primary-fg-color--dark:  #333333;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color:        #00154F;
  --md-primary-fg-color--light: #139EFD;
  --md-primary-fg-color--dark:  #333333;
} */

.md-header__button.md-logo img {
  width: 1.5rem;
  height: 1.5rem;
}