@font-face {
  font-family: 'Oswald';
  src: url('woff2/Oswald-ExtraLight.woff2') format('woff2'),
    url("woff/Oswald-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('woff2/Oswald-Light.woff2') format('woff2'),
    url("woff/Oswald-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('woff2/Oswald-Regular.woff2') format('woff2'),
    url("woff/Oswald-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('woff2/Oswald-Medium.woff2') format('woff2'),
    url("woff/Oswald-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('woff2/Oswald-DemiBold.woff2') format('woff2'),
    url("woff/Oswald-DemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('woff2/Oswald-Bold.woff2') format('woff2'),
    url("woff/Oswald-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('woff2/Oswald-Heavy.woff2') format('woff2'),
    url("woff/Oswald-Heavy.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}